{% extends "index.html" %}

{% block mainContent %}
<div class="import-edit-container col-lg-10 mx-auto">
  <div class="import-form-container card">
    <div class="card-header bg-dark">
      <h3>Import data</h3>
    </div>
    <div class="card-body">
        {% if alreadyImported %}
        <p class="text-danger">
          A file with name {{ alreadyImported }} has already been imported. Please import
          data to <span class="text-bold"> start a new voting session only.</span> Any non exported
          data will be lost! We recommend you <a href="/external/export">export</a> data first.
        </p>
        {% endif %}
      <form class="import-form" action="/import" id="import-form" data-method="POST" enctype="multipart/form-data" data-redirect="/selectPolls">
        <div class="form">
          <label for="import-file-input">Upload exported data from edison-central</label>
          <input class="form-control-file" type="file" name="importedData" id="import-file-input" accept="application/zip">
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-dark">
            <i class="fas fa-paper-plane"></i>
            &nbsp;Submit
          </button>
        </div>
      </form>
      <br>
      <h3>OR</h3>
      <form action="/external/import/select" class="form">
        <label for="ip-input">Enter IP address of edison-central</label>
        <input class="form-control" id="ip-input" name="serverIP" type="text">
          <button type="submit" class="btn btn-dark">
          Import
          </button>
      </form>
    </div>
  </div>
</div>
{%- endblock %}

{% block stylesheets -%}
<link rel="stylesheet" href="/assets/styles/forms.css">
<link rel="stylesheet" href="/assets/styles/forms/import.css">
{%- endblock %}

{% block scripts -%}
<script src="/assets/scripts/import-election-form.bundle.js"></script>
{%- endblock %}
