{% extends "index.html" %}

{% block mainContent %}
<div class="election-export-container col-lg-10 mx-auto">
    <div class="election-export-container card">
      <div class="card-header bg-dark"> 
        <h3>Select Polls to hold elections for in this poll booth</h3>
      </div>
      <div class="card-body">
        <form id="poll-select-form" action="{{ formURL }}" data-method="GET">
          <div class="form-group">
            {% for poll in election.polls -%}
            <div class="form-check">
              <input name= "pollIDs" class="form-check-input" type="checkbox" value="{{ poll.id }}" id="check{{ poll.id }}">
              <label class="form-check-label" for="check{{ poll.id }}">{{ poll.name }}</label>
            </div>
            {%- endfor %}
          </div>
          <button id="exportPollsBtn" type="submit" class="btn btn-success">
              <i class="{{ submitBtnIcon }}"></i>
              {{ submitBtnText }}
          </button>
        </form>
      </div>
    </div>
</div>
{%- endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/forms.css">
<link rel="stylesheet" href="/assets/styles/forms/poll-select.css">
{%- endblock %}

{% block scripts %}
<script src="/assets/scripts/poll-select-form.bundle.js"></script>
{%- endblock %}
