.card.multi-files-input {
  margin-top: 0;
  cursor: pointer;
  font-weight: normal;
  padding: 0.5rem;
}

#merge-file-input, #merge-files-list-header {
  display: none;
}

button[type="submit"] {
  margin-top: 1.25rem;
}

.card-header > h3 {
  color: white;
}
